.gridconteiner {
  font-family: "cabin";
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header main main" "header footer footer";
  margin: 0px;
}

header {
  grid-area: header;
  background-color: white;
  height: 100%;
}

main {
  grid-area: main;
  background-color: white;
  background: linear-gradient(to top, rgb(46, 45, 45), rgb(14, 9, 9));
}

footer {
  grid-area: footer;
}

.encab {
  align-content: center;
  background: linear-gradient(to top, rgb(46, 45, 45), rgb(14, 9, 9));
}
.encab img {
  width: 300px;
}
.encab nav ul {
  text-decoration: none;
}
.encab nav li {
  padding: 20px;
  margin: 10px;
  list-style-type: none;
}
.encab nav li a {
  list-style-type: none;
  color: rgb(216, 216, 216);
  padding: 0 20px;
  font-size: 1.2rem;
  text-decoration: none;
}

.imgcontact {
  width: 300px;
}

.main1 {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "marcas" "pres";
}
.main1 a {
  text-decoration: none;
  color: rgb(216, 216, 216);
}
.main1 a:hover {
  color: goldenrod;
}

.marcas, .listproductos4 ul li, .listproductos3 ul li, .listproductos2 ul li, .listproductos ul li, .contacto, .servicios, .productos {
  grid-area: marcas;
  font-family: "cabin";
  text-decoration: none;
  border: 1px solid gold;
  text-align: center;
  background: linear-gradient(to top, rgb(46, 45, 45), rgb(14, 9, 9));
  color: rgb(216, 216, 216);
  padding-top: 20px;
}
.marcas:hover, .listproductos4 ul li:hover, .listproductos3 ul li:hover, .listproductos2 ul li:hover, .listproductos ul li:hover, .contacto:hover, .servicios:hover, .productos:hover {
  color: goldenrod;
}

.presentacion {
  grid-area: pres;
  display: grid;
  grid-template-areas: "productos servicios contacto";
  padding-bottom: 50px;
}

.productos {
  grid-area: productos;
  width: 100%;
  height: 100%;
}
.productos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.servicios {
  grid-area: servicios;
  width: 100%;
  height: 100%;
}
.servicios img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacto {
  grid-area: contacto;
  width: 100%;
  height: 100%;
}
.contacto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marcas1 {
  display: flex;
  flex-wrap: wrap;
}
.marcas1 li {
  padding: 5px;
  list-style-type: none;
  text-decoration: none;
}
.marcas1 li img {
  width: 100px;
  height: 100px;
}

.pie1 {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgb(46, 45, 45), rgb(14, 9, 9));
  color: rgb(216, 216, 216);
  padding-top: 20px;
}
.pie1 img {
  width: 200px;
}

.pie2 {
  font-family: "cabin";
  display: flex;
  align-items: center;
  background-color: goldenrod;
  justify-content: center;
  border: 2px solid black;
  padding: 20px;
}

.pie3 {
  font-family: "cabin";
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(216, 216, 216);
}

@media (max-width: 3000px) {
  .marca1 img {
    width: 400px;
  }
  .marca1 p {
    font-size: 1.3rem;
  }
}
@media (max-width: 1160px) {
  .main1 {
    grid-template-areas: "marcas" "pres";
  }
  .main1 h2 {
    font-size: 1.3rem;
  }
  .infoservicios {
    flex-wrap: wrap;
    justify-content: center;
  }
  .marca1 img {
    width: 300px;
  }
  .marca1 p {
    font-size: 1rem;
  }
}
@media (max-width: 890px) {
  .gridconteiner {
    grid-template-areas: "header" "main" "footer";
  }
  .presentacion {
    grid-area: pres;
    display: grid;
    grid-template-areas: "productos" "servicios" "contacto";
    padding-bottom: 50px;
  }
  .main1 h2 {
    font-size: 1.1rem;
  }
  .marca1 img {
    width: 200px;
  }
  .marca1 p {
    font-size: 0.8rem;
  }
  .pie1 img {
    width: 130px;
  }
  .pie3 {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .nav1 {
    display: none;
  }
  .marca1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .marca1 img {
    width: 300px;
  }
  .marca1 img {
    width: 250px;
  }
  .marca1 h3 {
    display: none;
  }
  .order {
    order: -1;
  }
}
@media (max-width: 576px) {
  .main1 h2 {
    font-size: 0.9rem;
  }
  .marcas1 {
    padding-left: 0px;
    justify-content: center;
  }
  .listproductos {
    padding: 0;
  }
  .listproductos ul {
    padding: 0;
  }
  .listproductos2 {
    padding: 0;
  }
  .listproductos2 ul {
    padding: 0;
  }
  .listproductos3 {
    padding: 0;
  }
  .listproductos3 ul {
    padding: 0;
  }
  .listproductos4 {
    padding: 0;
  }
  .listproductos4 ul {
    padding: 0;
  }
  .tituloproductos {
    padding: 0%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .tituloproductos h2 {
    text-align: center;
  }
  .tituloservicios {
    padding: 0%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .tituloservicios h2 {
    text-align: center;
  }
  .listservicios {
    margin-right: 0px;
  }
  .tituloservicios {
    text-align: center;
  }
  .infoservicios {
    margin-right: 0px;
  }
  .localidades {
    margin-right: 0px;
  }
}
.main3 {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "productosimg" "listproductos" "listproductos2" "listproductos3" "listproductos4";
}

.tituloproductos {
  grid-area: productosimg;
  font-family: "cabin";
  text-decoration: none;
  border: 1px solid rgb(17, 17, 17);
  text-align: center;
  background: linear-gradient(to left, rgb(46, 45, 45), rgb(14, 9, 9));
  text-align: right;
  font-size: 2rem;
  padding: 80px;
  color: rgb(216, 216, 216);
}

.listproductos {
  grid-area: listproductos;
  font-family: "cabin";
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to top, rgb(46, 45, 45), rgb(14, 9, 9));
  color: rgb(216, 216, 216);
  padding: 10px;
}
.listproductos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.listproductos ul li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 300px;
}

.listproductos2 {
  grid-area: listproductos2;
  font-family: "cabin";
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to bottom, rgb(46, 45, 45), rgb(14, 9, 9));
  color: rgb(216, 216, 216);
  padding: 10px;
}
.listproductos2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.listproductos2 ul li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 300px;
}

.listproductos3 {
  grid-area: listproductos3;
  font-family: "cabin";
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to top, rgb(46, 45, 45), rgb(14, 9, 9));
  color: rgb(216, 216, 216);
  padding: 10px;
}
.listproductos3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.listproductos3 ul li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 300px;
}

.listproductos4 {
  grid-area: listproductos4;
  font-family: "cabin";
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to top, rgb(46, 45, 45), rgb(14, 9, 9));
  color: rgb(216, 216, 216);
  padding: 10px;
}
.listproductos4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.listproductos4 ul li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  height: 100%;
}

.main4 {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "tituloservicios" "listservicios" "listservicios2";
  background: linear-gradient(to left, rgb(46, 45, 45), rgb(14, 9, 9));
}

.tituloservicios {
  grid-area: tituloservicios;
  font-family: "cabin";
  text-decoration: none;
  border: 1px solid rgb(17, 17, 17);
  text-align: center;
  background: linear-gradient(to left, rgb(46, 45, 45), rgb(14, 9, 9));
  text-align: right;
  font-size: 2rem;
  padding: 80px;
  color: rgb(216, 216, 216);
}

.listservicios {
  grid-area: listservicios;
  font-family: "cabin";
  color: rgb(216, 216, 216);
  text-align: center;
  margin-right: 0px;
}
.listservicios ul {
  text-align: center;
  margin: 1px;
  padding: 1px;
}
.listservicios ul p {
  border: 1px solid white;
  margin: 2px;
  padding: 2px;
}

.infoservicios {
  display: flex;
  align-items: center;
}
.infoservicios img {
  max-width: 100vw;
  height: 100%;
}

.localidades {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}
.localidades h4 {
  border: 1px solid white;
  margin: 2px;
  padding: 2px;
}

.listservicios2 {
  grid-area: listservicios2;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  color: rgb(216, 216, 216);
  text-align: center;
}
.listservicios2 iframe {
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main2 {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "marc" "list";
}

.titmarcas {
  grid-area: marc;
  font-family: "cabin";
  text-decoration: none;
  border: 1px solid rgb(17, 17, 17);
  text-align: center;
  background: linear-gradient(to left, rgb(46, 45, 45), rgb(14, 9, 9));
  text-align: right;
  font-size: 2rem;
  padding: 80px;
  color: rgb(216, 216, 216);
}

.marca1 {
  display: flex;
  color: rgb(216, 216, 216);
  text-align: center;
  align-items: center;
  padding: 2px;
  margin: 2px;
  border: 1px solid gold;
}
.marca1 h3 {
  font-size: 2rem;
  padding-bottom: 20px;
}
.marca1 p {
  padding: 2px;
  margin: 2px;
}

/*# sourceMappingURL=style.css.map */
