.main1 {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "marcas"
    "pres";
  a {
    &:hover {
      color: goldenrod;
    }
    text-decoration: none;
    color: $color-principal;
  }
}

.marcas {
  grid-area: marcas;
  font-family: "cabin";
  text-decoration: none;
  border: $border-dorado;
  text-align: center;
  background: $backgraund-principal;
  color: $color-principal;
  padding-top: 20px;
  &:hover {
    color: goldenrod;
  }
}

.presentacion {
  grid-area: pres;
  display: grid;
  grid-template-areas: "productos servicios contacto";
  padding-bottom: 50px;
}
@mixin proimag {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.productos {
  grid-area: productos;
  @extend .marcas;
  @include proimag;
}

.servicios {
  grid-area: servicios;
  @extend .marcas;
  @include proimag;
}

.contacto {
  grid-area: contacto;
  @extend .marcas;
  @include proimag;
}

.marcas1 {
  display: flex;
  flex-wrap: wrap;
  li {
    padding: 5px;
    list-style-type: none;
    text-decoration: none;
    img {
      width: 100px;
      height: 100px;
    }
  }
}
