@media (max-width: 3000px) {
  .marca1 {
    img {
      width: 400px;
    }
    p {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 1160px) {
  .main1 {
    grid-template-areas:
      "marcas"
      "pres";
  }
  .main1 {
    h2 {
      font-size: 1.3rem;
    }
  }
  .infoservicios {
    flex-wrap: wrap;
    justify-content: center;
  }
  .marca1 {
    img {
      width: 300px;
    }
    p {
      font-size: 1rem;
    }
  }
}
@media (max-width: 890px) {
  .gridconteiner {
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .presentacion {
    grid-area: pres;
    display: grid;
    grid-template-areas:
      "productos"
      "servicios"
      "contacto";
    padding-bottom: 50px;
  }
  .main1 {
    h2 {
      font-size: 1.1rem;
    }
  }
  .marca1 {
    img {
      width: 200px;
    }
    p {
      font-size: 0.8rem;
    }
  }
  .pie1 {
    img {
      width: 130px;
    }
  }
  .pie3 {
    font-size: 12px;
  }
}
@mixin espacio40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
@mixin espacio0 {
  padding: 0;
  ul {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .nav1 {
    display: none;
  }
  .marca1 {
    flex-wrap: wrap;
    justify-content: center;
    img {
      width: 300px;
    }
  }
  .marca1 {
    img {
      width: 250px;
    }
    h3 {
      display: none;
    }
  }
  .order {
    order: -1;
  }
}

@media (max-width: 576px) {
  .main1 {
    h2 {
      font-size: 0.9rem;
    }
  }

  .marcas1 {
    padding-left: 0px;
    justify-content: center;
  }

  .listproductos {
    @include espacio0;
  }
  .listproductos2 {
    @include espacio0;
  }
  .listproductos3 {
    @include espacio0;
  }
  .listproductos4 {
    @include espacio0;
  }
  .tituloproductos {
    padding: 0%;
    @include espacio40;

    h2 {
      text-align: center;
    }
  }
  .tituloservicios {
    padding: 0%;
    @include espacio40;

    h2 {
      text-align: center;
    }
  }
  .listservicios {
    margin-right: 0px;
  }
  .tituloservicios {
    text-align: center;
  }
  .infoservicios {
    margin-right: 0px;
  }
  .localidades {
    margin-right: 0px;
  }
}
