@media (max-width: 3000px) {
  .marca1 {
    img {
      width: 400px;
    }
  }
}

@media (max-width: 1160px) {
  .main1 {
    grid-template-areas:
      "marcas"
      "pres";
  }
  .main1 {
    h2 {
      font-size: 1.3rem;
    }
  }
  .infoservicios {
    flex-wrap: wrap;
    justify-content: center;
  }
  .marca1 {
    img {
      width: 300px;
    }
  }
}
@media (max-width: 890px) {
  .gridconteiner {
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  .main1 {
    h2 {
      font-size: 1.1rem;
    }
  }
  .marca1 {
    img {
      width: 200px;
    }
  }
  .pie1 {
    img {
      width: 130px;
    }
  }
  .pie3 {
    font-size: 12px;
  }
}
@mixin espacio40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
@mixin espacio0 {
  padding: 0;
  ul {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .main1 {
    h2 {
      font-size: 0.9rem;
    }
  }
  .nav1 {
    display: none;
  }
  .listproductos {
    @include espacio0;
  }
  .listproductos2 {
    @include espacio0;
  }
  .listproductos3 {
    @include espacio0;
  }
  .listproductos4 {
    @include espacio0;
  }
  .tituloproductos {
    padding: 0%;
    @include espacio40;

    h2 {
      text-align: center;
    }
  }
  .tituloservicios {
    padding: 0%;
    @include espacio40;

    h2 {
      text-align: center;
    }
  }
  .listservicios {
    margin-right: 0px;
  }
  .tituloservicios {
    text-align: center;
  }
  .infoservicios {
    margin-right: 0px;
  }
  .localidades {
    margin-right: 0px;
  }
  .marca1 {
    img {
      width: 150px;
    }
  }
}
