@media (max-width:1160px) {
    .main1 {
        grid-template-areas:
            "marcas"
            "productos"
            "servicios"
            "contacto";
    }

    .infoservicios{
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (max-width:890px) {
    .gridconteiner {
      grid-template-areas: 
      "header"
      "main"
      "footer";

    }
}

@media (max-width:890px) {
    .pie1 {
        img {
            width: 130px; 
        }
    }
    .pie3 { 
        font-size: 12px; 
    }
    

    
} 

@media (max-width:576px) {

    .listproductos {
        padding: 0;
        ul {
            padding: 0;
        }
    }
    .tituloproductos{
        padding: 0px;
        padding-top: 40px;
        padding-bottom: 40px;
        
        h2 {
            text-align: center;
        }
    }
       
    
} 