.gridconteiner {
    font-family: "cabin";
    min-height: 100vh ;
	display: grid ;
	grid-template-areas: "header main main"
        "header footer footer";
    margin: 0px;    
        
        
} 
	
header {
    grid-area: header; 
	background-color: white; 
	height: 100% ;
    
}
	
main {
    grid-area: main; 
	background-color: white; 
    background: linear-gradient(to top,rgb(46, 45, 45), rgb(14, 9, 9));
}
	
footer {
    grid-area: footer; 
	
} 

.encab {
    align-content: center;
    

    img {
        width: 300px;
    }

    nav { 
        ul {
            text-decoration: none;
        }

        li { 
            padding: 20px;
            margin: 10px;
            list-style-type: none;
            a {
                list-style-type: none;
        color: white;
        padding: 0 20px;
        font-size: 1.2rem;
        text-decoration: none;
    
            }
                
    }

    

    }

    background: linear-gradient(to top,rgb(46, 45, 45), rgb(14, 9, 9));  
}




.imgcontact{
    width: 300px;
}
	