.main3 {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "productosimg"
    "listproductos"
    "listproductos2"
    "listproductos3"
    "listproductos4";
}
.tituloproductos {
  grid-area: productosimg;
  font-family: "cabin";
  text-decoration: none;
  border: 1px solid rgb(17, 17, 17);
  text-align: center;
  background: linear-gradient(to left, rgb(46, 45, 45), rgb(14, 9, 9));
  text-align: right;
  font-size: 2rem;
  padding: 80px;
  color: white;
}
.listproductos {
  grid-area: listproductos;
  font-family: "cabin";
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to top, rgb(46, 45, 45), rgb(14, 9, 9));
  color: white;
  padding: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  ul {
    li {
      @extend .marcas;
      list-style-type: none;
      text-decoration: none;
      display: inline-block;
      height: 100%;
      width: 300px;
    }
  }
}
.listproductos2 {
  grid-area: listproductos2;
  font-family: "cabin";
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to bottom, rgb(46, 45, 45), rgb(14, 9, 9));
  color: white;
  padding: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  ul {
    li {
      @extend .marcas;
      list-style-type: none;
      text-decoration: none;
      display: inline-block;
      height: 100%;
      width: 300px;
    }
  }
}
.listproductos3 {
  grid-area: listproductos3;
  font-family: "cabin";
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to top, rgb(46, 45, 45), rgb(14, 9, 9));
  color: white;
  padding: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  ul {
    li {
      @extend .marcas;
      list-style-type: none;
      text-decoration: none;
      display: inline-block;
      height: 100%;
      width: 300px;
    }
  }
}
.listproductos4 {
  grid-area: listproductos4;
  font-family: "cabin";
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to top, rgb(46, 45, 45), rgb(14, 9, 9));
  color: white;
  padding: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  ul {
    li {
      @extend .marcas;
      list-style-type: none;
      text-decoration: none;
      display: inline-block;
      height: 100%;
    }
  }
}
