.main4 {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "tituloservicios"
    "listservicios"
    "listservicios2";
  background: linear-gradient(to left, rgb(46, 45, 45), rgb(14, 9, 9));
}
.tituloservicios {
  grid-area: tituloservicios;
  font-family: "cabin";
  text-decoration: none;
  border: 1px solid rgb(17, 17, 17);
  text-align: center;
  background: linear-gradient(to left, rgb(46, 45, 45), rgb(14, 9, 9));
  text-align: right;
  font-size: 2rem;
  padding: 80px;
  color: white;
}
.listservicios {
  grid-area: listservicios;
  font-family: "cabin";
  color: white;
  text-align: center;
  margin-right: 0px;
  ul {
    text-align: center;
    margin: 1px;
    padding: 1px;
    p {
      border: 1px solid white;
      margin: 2px;
      padding: 2px;
    }
  }
}
.infoservicios {
  display: flex;
  align-items: center;
  img {
    max-width: 100vw;
    height: 100%;
  }
}
.localidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  h4 {
    border: 1px solid white;
    margin: 2px;
    padding: 2px;
  }
}
.listservicios2 {
  grid-area: listservicios2;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  color: white;
  text-align: center;

  iframe {
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
